/* header */
.main .header {background:none; border-bottom:1px solid #c7cacd;}
.main .header.hd_w {background:#fff; border-bottom:0;}
.main .h_logo > a {background-color:blue;}
.main .hd_w .h_logo > a {background-color:red;}