/* main number */
.m_number {margin:0 -8px;}
.m_number::after {display:block; content:''; clear:both;}
.m_number > div {float:left; width:33.3333%; padding:0 8px; text-align:center;}
.m_number > div > div {width:100%; height:120px; border-radius:8px;}
.m_number > div:nth-child(1) > div {background:#287bf9;}
.m_number > div:nth-child(2) > div {background:#013dc7;}
.m_number > div:nth-child(3) > div {background:#012989;}
.m_number > div > div > div > strong {display:block; font-size:36px; line-height:44px; font-weight:700; color:#fff;}
.m_number > div > div > div > span {display:block; font-size:14px; line-height:22px; font-weight:700; color:#3bcfff;}

/* main panel */
.m_panel {border:1px solid #ddd; border-radius:8px; overflow:hidden; margin-top:32px;}
.m_panel .mp_t {font-size:0; line-height:0; padding:12px 20px; border-bottom:1px solid #eee;}
.m_panel .mp_t::after {display:block; content:''; clear:both;}
.m_panel .mp_t h3 {display:block; font-size:20px; line-height:32px; font-weight:700;}
.m_panel .mp_t .mpt_btns > a {display:inline-block; width:32px; height:32px; border-radius:16px; background:url() #868686 no-repeat center center / 100%; margin-left:4px;}
.m_panel .mp_t .mpt_btns > a:hover {background-color:#013dc7;}
.m_panel .mp_t .mpt_btns > a.mptb_ico_share {background-image:url(../image/common/ico_share_64_w.png); background-size:50%;}
.m_panel .mp_t .mpt_btns > a.mptb_ico_save {background-image:url(../image/common/ico_save_64_w.png); background-size:50%;}
.m_panel .mp_t .mpt_btns > a.mptb_ico_refresh {background-image:url(../image/common/ico_refresh_64_w.png); background-size:50%;}
.m_panel .mp_t .mpt_btns > a.mptb_ico_download {background-image:url(../image/common/ico_download_64_w.png); background-size:50%;}
.m_panel .mp_t .mpt_btns > a.mptb_ico_sort {background-image:url(../image/common/ico_sort_64_w.png); background-size:50%;}
.m_panel .mp_b {padding:20px;}
.m_panel.m_panel_w .mp_b::after {display:block; content:''; clear:both;}
.m_panel.m_panel_w .mp_b .mpb_chart {float:left; width:calc(100% - 360px);}
.m_panel.m_panel_w .mp_b .mpb_table {float:left; width:360px; padding-left:16px;}

/* main chart */
.m_chart {margin:0 -8px;}
.m_chart::after {display:block; content:''; clear:both;}
.m_chart > div {float:left; width:50%; padding:0 8px;}